<div class="wrapper">
      <header>
        <h1>Etai Jacob</h1>
        <p>
        
        </p>
	<!--
        <img src="https://cloud.githubusercontent.com/assets/10907703/10215772/171bd59e-682d-11e5-90af-700f2af4ff74.png" style="border:4px solid black">
	-->
        <br><br>

        <div align="left">
			<a class="btn btn-social-icon btn-github" href="https://github.com/etaijacob">
				<i class="fa fa-github"></i>
			</a>

			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/etaijacob">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="https://il.linkedin.com/in/etaijacob">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:etai.jacob@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
